In [22]:
import pandas as pd
import numpy as np

In [23]:
chessFreq=pd.read_csv("./Freq.csv",index_col=None,header=None)

In [24]:
chessFreq

      0    1    2    3     4     5     6    7    8      9    10
0     e4   c5  Nf3   d6    d4  cxd4  Nxd4  Nf6  Nc3     a6  395
1     e4   e5  Nf3  Nc6   Bb5    a6   Ba4  Nf6  O-O    Be7  233
2     e4   c5  Nf3   d6    d4  cxd4  Nxd4  Nf6  Nc3    Nc6   90
3     e4   c5  Nf3  Nc6    d4  cxd4  Nxd4  Nf6  Nc3     e5   87
4     e4   c5  Nf3   e6    d4  cxd4  Nxd4  Nc6  Nc3    Qc7   86
...   ..  ...  ...  ...   ...   ...   ...  ...  ...    ...  ...
7977  d4  Nf6   c4   e5  dxe5   Ng4   Qd4   d6  Nc3    Nc6    1
7978  d4  Nf6   c4   e5  dxe5   Ng4   Nf3  Nc6  Bf4   Bb4+    1
7979  d4  Nf6   c4   e5  dxe5   Ng4   Bf4   g5  Bg3    Nc6    1
7980  d4  Nf6   c4   e5    d5  Bb4+   Bd2  Qe7   a3  Bxd2+    1
7981  h4   d5  Nf3  Nf6    d4    e6   Bg5   c5   e3    Nc6    1

[7982 rows x 11 columns]

In [25]:
c=chessFreq.groupby(0)

In [26]:
pd.DataFrame(c.value_counts())

                                                    0
0   1   2   3    4    5    6     7    8    9    10
Nc3 Nf6 Nf3 Nc6  d4   d5   Bf4   a6   e3   h6   1   1
        d4  d5   Bf4  Bf5  Nf3   e6   Qd2  Bb4  1   1
    g6  h4  h5   e4   c5   d4    cxd4 Qxd4 Nf6  1   1
    e5  Nf3 Nc6  d4   exd4 Nxd4  Nf6  Bg5  Bc5  1   1
    d5  e4  dxe4 Nxe4 Nf6  Nxf6+ exf6 Bc4  Bd6  1   1
...                                                ..
g4  d5  e3  e5   Bg2  c6   d3    Bd6  h3   Ne7  1   1
        Bg2 c6   g5   e5   d4    exd4 Qxd4 Be6  1   1
            Bxg4 c4   e6   Qb3   Nf6  cxd5 Nxd5 1   1
                      Nf6  cxd5  c6   Nc3  cxd5 1   1
h4  d5  Nf3 Nf6  d4   e6   Bg5   c5   e3   Nc6  1   1

[7982 rows x 1 columns]

In [27]:
import sys
import json

def calldict():
    with open("../ChessChoco/OpeningAnalysis/OpeningDicts2.txt","r",encoding="utf-8") as f :
        lines = f.readlines()
    lines = [line.strip().replace("'","\"") for line in lines]
    dict_collection = [json.loads(line) for line in lines]
    OpeningDict=dict_collection[0]
    return OpeningDict

In [28]:
Openingdict=calldict()

In [29]:
Openingdict

{'오픈 게임': ['e4', 'e5'],
 '루이 로페즈': ['e4', 'e5', 'Nf3', 'Nc6', 'Bb5'],
 '스카치 게임': ['e4', 'e5', 'Nf3', 'Nc6', 'd4'],
 '이탈리안 게임': ['e4', 'e5', 'Nf3', 'Nc6', 'Bc4'],
 '포 나이트 게임': ['e4', 'e5', 'Nf3', 'Nc6', 'Nc3', 'Nf6'],
 '페트로프 디펜스': ['e4', 'e5', 'Nf3', 'Nf6'],
 '필리도어 디펜스': ['e4', 'e5', 'Nf3', 'd6'],
 '비엔나 게임': ['e4', 'e5', 'Nc3'],
 '비숍 오프닝': ['e4', 'e5', 'Bc4'],
 '킹스 갬빗': ['e4', 'e5', 'f4'],
 '센터 게임': ['e4', 'e5', 'd4', 'exd4', 'Qxd4'],
 '대니시 갬빗': ['e4', 'e5', 'd4', 'exd4', 'c3'],
 '세미 오픈 게임': ['e4'],
 '시실리안 디펜스': ['e4', 'c5'],
 '프렌치 디펜스': ['e4', 'e6'],
 '카로-칸 디펜스': ['e4', 'c6'],
 '스칸디나비안 디펜스': ['e4', 'd5'],
 '피어츠 디펜스': ['e4', 'd6', 'd4', 'Nf6', 'Nc3', 'g6'],
 '알레킨 디펜스': ['e4', 'Nf6'],
 '모던 디펜스': ['e4', 'g6'],
 '클로즈드 게임': ['d4', 'd5'],
 '런던 시스템': ['d4', 'f5', 'Bf4'],
 '퀸스 갬빗': ['d4', 'd5', 'c4'],
 '퀸스 갬빗 수락 (QGA)': ['d4', 'd5', 'c4', 'dxc4'],
 '퀸스 갬빗 거절 (QGD)': ['d4', 'd5', 'c4', 'e6'],
 '슬라브 디펜스': ['d4', 'd5', 'c4', 'c6'],
 '스톤월 어택': ['d4', 'd5', 'e3', 'Nf6', 'Bd3', 'c5', 'c3', 'Nc6', 'f4'],
 '콜 시스템': ['d4', 'd5', 'Nf3', 'Nf6', 'e3'],
 '인디언 디펜스': ['d4', 'Nf6'],
 '모던 베노니': ['d4', 'Nf6', 'c4', 'c5', 'd5', 'e6'],
 '벵코 갬빗 (볼가 갬빗)': ['d4', 'Nf6', 'c4', 'c5', 'd5', 'b5'],
 '님조-인디언 디펜스': ['d4', 'Nf6', 'c4', 'e6', 'Nc3', 'Bb4'],
 '퀸스 인디언 디펜스': ['d4', 'Nf6', 'c4', 'e6', 'Nf3', 'b6'],
 '카탈란 오프닝': ['d4', 'Nf6', 'c4', 'e6', 'g3'],
 '그룬펠드 디펜스': ['d4', 'Nf6', 'c4', 'g6', 'Nc3', 'd5'],
 '킹스 인디언 디펜스 (KID)': ['d4', 'Nf6', 'c4', 'g6', 'Nc3', 'Bg7'],
 '베노니 디펜스': ['d4', 'c5'],
 '더치 디펜스': ['d4', 'f5'],
 '랄슨 오프닝': ['b3'],
 '소콜스키 오프닝': ['b4'],
 '잉글리시 오프닝': ['c4'],
 '주커토트 오프닝': ['Nf3'],
 '킹스 인디언 어택 (KIA)': ['Nf3', 'g3', 'Bg2', '0-0', 'd3', 'Nbd2', 'e4'],
 '버드 오프닝': ['f4'],
 '벵코 오프닝': ['g3'],
 '그롭 어택': ['g4']}

In [86]:
def findopen(lst):
    openindex=[]
    openings=[]
    opindex=0
    list1=[]
    for i in range(len(lst)):
        list1.append(lst[i])
        if list1 in calldict().values():
            for key,value in  calldict().items():
                if value == list1:
                    cnt=0
                    opindex=key
                    opvalue=value
                    for j in range(len(list(calldict().values()))):
                        valueslist=[]
                        for k in range(len(list(calldict().values())[j])):
                            valueslist.append(list(calldict().values())[j][k])
                        if list1 == valueslist:
                            openings.append(list(calldict().keys())[j])


    if opindex != 0:
        openindex.append(opindex)
    else:
        opindex="존재하지 않는 오프닝입니다"
        openindex.append(opindex)
    opindex=0
    return [openindex,openings]

In [58]:
calldict().values()

dict_values([['e4', 'e5'], ['e4', 'e5', 'Nf3', 'Nc6', 'Bb5'], ['e4', 'e5', 'Nf3', 'Nc6', 'd4'], ['e4', 'e5', 'Nf3', 'Nc6', 'Bc4'], ['e4', 'e5', 'Nf3', 'Nc6', 'Nc3', 'Nf6'], ['e4', 'e5', 'Nf3', 'Nf6'], ['e4', 'e5', 'Nf3', 'd6'], ['e4', 'e5', 'Nc3'], ['e4', 'e5', 'Bc4'], ['e4', 'e5', 'f4'], ['e4', 'e5', 'd4', 'exd4', 'Qxd4'], ['e4', 'e5', 'd4', 'exd4', 'c3'], ['e4'], ['e4', 'c5'], ['e4', 'e6'], ['e4', 'c6'], ['e4', 'd5'], ['e4', 'd6', 'd4', 'Nf6', 'Nc3', 'g6'], ['e4', 'Nf6'], ['e4', 'g6'], ['d4', 'd5'], ['d4', 'f5', 'Bf4'], ['d4', 'd5', 'c4'], ['d4', 'd5', 'c4', 'dxc4'], ['d4', 'd5', 'c4', 'e6'], ['d4', 'd5', 'c4', 'c6'], ['d4', 'd5', 'e3', 'Nf6', 'Bd3', 'c5', 'c3', 'Nc6', 'f4'], ['d4', 'd5', 'Nf3', 'Nf6', 'e3'], ['d4', 'Nf6'], ['d4', 'Nf6', 'c4', 'c5', 'd5', 'e6'], ['d4', 'Nf6', 'c4', 'c5', 'd5', 'b5'], ['d4', 'Nf6', 'c4', 'e6', 'Nc3', 'Bb4'], ['d4', 'Nf6', 'c4', 'e6', 'Nf3', 'b6'], ['d4', 'Nf6', 'c4', 'e6', 'g3'], ['d4', 'Nf6', 'c4', 'g6', 'Nc3', 'd5'], ['d4', 'Nf6', 'c4', 'g6', 'Nc3', 'Bg7'], ['d4', 'c5'], ['d4', 'f5'], ['b3'], ['b4'], ['c4'], ['Nf3'], ['Nf3', 'g3', 'Bg2', '0-0', 'd3', 'Nbd2', 'e4'], ['f4'], ['g3'], ['g4']])

In [ ]:
findlst=[]
for i in range(len(chessFreq)):
    q = list(chessFreq.iloc[i])
    findlst.append([findopen(q),q[10]])
print("finished")

In [65]:
list(chessFreq.iloc[i])

['e4', 'e5', 'Nf3', 'Nc6', 'Bb5', 'f5', 'd3', 'fxe4', 'dxe4', 'Nf6', 8]

In [87]:
findopen(chessFreq.iloc[1])

[['루이 로페즈'], ['세미 오픈 게임', '오픈 게임', '루이 로페즈']]

In [ ]:
findlst[7777][0][0]

In [318]:
def ableopen(openlst,k):
    kstableopen=[]
    for i in range(len(openlst[1])):
        if openlst[1][i][0] == k:
            kstableopen.append(openlst[1][i])
    return kstableopen

In [349]:
chessFreq.iloc[7777]

0      d4
1     Nf6
2      c3
3      g6
4     Nf3
5     Bg7
6      h3
7      b6
8     Bf4
9     Bb7
10      1
Name: 7777, dtype: object

In [320]:
ableopen(findlst[7980][0],4)

[[4, '스칸디나비안 디펜스'],
 [4, '클로즈드 게임'],
 [4, '퀸스 갬빗'],
 [4, '퀸스 갬빗 수락 (QGA)'],
 [4, '퀸스 갬빗 거절 (QGD)'],
 [4, '슬라브 디펜스'],
 [4, '스톤월 어택'],
 [4, '콜 시스템'],
 [4, '모던 베노니'],
 [4, '벵코 갬빗 (볼가 갬빗)'],
 [4, '그룬펠드 디펜스']]

In [321]:
chessFreq.iloc[7981]

0      h4
1      d5
2     Nf3
3     Nf6
4      d4
5      e6
6     Bg5
7      c5
8      e3
9     Nc6
10      1
Name: 7981, dtype: object

In [322]:
len(findlst)

7982

In [342]:
p=[]
for i in range(len(findlst)):
    for k in range(1,11):
        while ableopen(findlst[i][0],k) != []:
            k=k+1
        break
    p.append([findlst[i][0][0],ableopen(findlst[i][0],k-1),findlst[i][1]])

In [343]:
lst=pd.DataFrame(p)

In [344]:
lst

                     0                                                  1    2
0           [시실리안 디펜스]  [[4, 스카치 게임], [4, 센터 게임], [4, 대니시 갬빗], [4, 피어츠...  395
1             [루이 로페즈]                                      [[4, 루이 로페즈]]  233
2           [시실리안 디펜스]  [[4, 스카치 게임], [4, 센터 게임], [4, 대니시 갬빗], [4, 피어츠...   90
3           [시실리안 디펜스]  [[4, 스카치 게임], [4, 센터 게임], [4, 대니시 갬빗], [4, 피어츠...   87
4           [시실리안 디펜스]  [[4, 스카치 게임], [4, 센터 게임], [4, 대니시 갬빗], [4, 피어츠...   86
...                ...                                                ...  ...
7977         [인디언 디펜스]  [[3, 오픈 게임], [3, 루이 로페즈], [3, 스카치 게임], [3, 이탈리...    1
7978         [인디언 디펜스]  [[3, 오픈 게임], [3, 루이 로페즈], [3, 스카치 게임], [3, 이탈리...    1
7979         [인디언 디펜스]  [[3, 오픈 게임], [3, 루이 로페즈], [3, 스카치 게임], [3, 이탈리...    1
7980         [인디언 디펜스]  [[4, 스칸디나비안 디펜스], [4, 클로즈드 게임], [4, 퀸스 갬빗], [4...    1
7981  [존재하지 않는 오프닝입니다]  [[5, 프렌치 디펜스], [5, 퀸스 갬빗 거절 (QGD)], [5, 모던 베노니...    1

[7982 rows x 3 columns]

In [345]:
lst.to_csv("nextableopening.csv",encoding="utf-8",index=None,header=None)

In [331]:
len(findlst[2])

2